/* Global Dark Theme */
body {
	color: #e0e0e0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.dark-theme {
	color: #e0e0e0;
}

.title {
	text-align: center;
	font-weight: bold;
	color: #24935b;
}

.prompt-set-title {
	text-align: left;
	font-weight: bold;
	color: #ffffff;
}

/* Mosaic Grid */
.mosaic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Space between tiles and prompts */
}

.mosaic-tile {
    position: relative;
    background-color: #333;
    border-radius: 8px;
    border: 2px solid #e0e0e0;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1; /* Maintain square aspect ratio */
}

.mosaic-tile.completed {
    border-color: #4caf50;
    cursor: default;
}

.prompt-label {
    text-align: center;
    font-size: 0.85rem;
    color: #6c757d;
    margin-top: -10px; /* Space between tile and prompt */
    word-break: break-word; /* Handle long text */
}


.mosaic-tile:hover {
	border-color: #777777;
	background-color: #444444;
}

/* Fixed Download Buttons */
.download-buttons {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
}

.modal {
    padding: 1rem;
}